<h2>Post</h2>
<form action="<%= url %>" method="post" name="edit">
	<fieldset>
		<legend>Meta</legend>
				<label for="login">Title: </label>
				<input type="text" name="title" value="<%= post.title %>" /><br/>

				<label for="login">Tags: </label>
				<input type="text" name="tags" value="<%= post.tags %>" /><br/>
				
				<div class="created_at">
				<label for="created_at">Date: </label>
				<script>DateInput('created_at', true, 'DD/MM/YYYY', '<%= created_at %>')</script></div><br/>

	</fieldset>
	<fieldset>
		<legend>Body </legend>
			<label for="body">Body: </label>
			<textarea name="body"><%= post.body %></textarea><br/>
			<label for="kludge"></label>
			<input type="submit" value="Save" id="submit" />
	</fieldset>
	
</form>
